<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nmp90.bghistory"
    android:installLocation="auto">


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".BulgarianHistoryApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nmp90.bghistory.BaseDrawerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nmp90.bghistory.EventsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.nmp90.bghistory.DetailedEventActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.nmp90.bghistory.YearsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.nmp90.bghistory.CapitalsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.nmp90.bghistory.CapitalDetailsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.nmp90.bghistory.SearchActivity"
            android:label="@string/app_name" />

        <meta-data android:name="com.crashlytics.ApiKey" android:value="ec9af5c8c458dba74c36f68603aaf0787dbd95aa"/>
    </application>




</manifest>
